body{
  margin:0;
}

p{
  margin: 0;
}



.quotebook{
  background-color: #F7FFFB;
  width: cover;
  text-align:  center;
  padding: 3%;
  border-radius: 0 0 20px 20px;
  border-bottom: 5px solid #8F9291;
  font-size: 35px;

}

.author{
  color: #8F9291;
}

.bulk{
  padding-left: 1%;
  padding-right: 1%;
  border-left: 1px solid #8F9291;
}

.filter{

}
